<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diogo C. Ribeiro</title> 
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon_bh.svg" type="image/x-icon">
    <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/style.css">
    <script src="{{ site.baseurl }}/assets/js/toggle_menu.js"></script>
    <script src="{{ site.baseurl }}/assets/js/fade.js"></script>
    <script type="importmap">
	{
	    "imports": {
		    "three": "https://cdn.jsdelivr.net/npm/three@0.161.0/build/three.module.js",
            "jsm/": "https://cdn.jsdelivr.net/npm/three@0.161.0/examples/jsm/"
        }
	}
	</script>
    <script>
            fadeInPage();
    </script>
</head>