@use '../abstracts';

.about_page {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.about_page_content {
  width: 30cm;
  max-width: 90vw;
  line-height: 1.9;
  font-size: 18px;
}

// Text and Image
.about_hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  margin-bottom: 60px;
  margin-top: 40px;
}

.about-hero_text {
  flex: 1;
  min-width: 0; // prevents flex blowout
  text-align: justify;

  h1 {
    margin-bottom: 4px;
  }

  p {
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 18px;
  }
}

.about-hero_image {
  align-items: center;

  img {
    width: 400px;
    max-width: 100%;
    height: auto;
    border-radius: 2px;
    box-shadow: 2px 2px 20px 10px rgb(0 0 0 / 20%);
  }
}

// Selected Papers
.about-papers {
  border-top: 1px solid abstracts.$textcolor-light;
  padding-top: 20px;
  margin-bottom: 80px;
}

.paper-item {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.paper-link {
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 0rem;
  align-items: start;
  padding: 0.5rem 0.5rem;
 
  transition: border-color 0.2s ease, transform 0.2s ease;

  &:hover {
    border-color: #000000;
    transform: translateX(10px);
  }
}

.paper-year {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  padding-top: 0.15rem;
}

.paper-title {
  font-weight: 550;
  font-size: 18px;
  margin-bottom: 0.2rem;
}

.paper-authors {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0.1rem;
}

.paper-venue {
  font-size: 0.8rem;
  font-style: italic;
}

// Make responsive
@media (max-width: 1300px) {
  .about_hero {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .about_hero_image img {
    width: 300px;
  }

  .about_hero_text {
    text-align: left;
  }
}

.about_page a:link {
  color: abstracts.$color-links;
  background-color: transparent;
  text-decoration: none;
  font-weight: 600;
}

.about_page a:visited {
  color: abstracts.$color-links;
  background-color: transparent;
  text-decoration: none;
}

.about_page a:hover {
  color: abstracts.$color-links-hover;
  background-color: transparent;
  text-decoration: none;
}

.about_page a:active {
  color: abstracts.$color-links-hover;
  background-color: transparent;
  text-decoration: none;
}