@use '../abstracts';

.research_page {
  display: flex;
  justify-content: center;
  padding-top: 30px; // space for fixed header
}

.research_page_content {
  width: 24cm;
  max-width: 90vw;
  line-height: 1.9;
  font-size: 18px;
  align-items: center;
}

//Quote style
.quote {
  font-family: abstracts.$font-xkcd;  
  font-size: 30pt;
  display: flex;
  justify-content: center;
  text-align: center;
}

//Image style
.research_image{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 100%; 
  margin: auto;
  margin-top: 2.0rem;
  margin-bottom: 2.0rem;
}

//End of page line
.page-end-space {
  height: 120px; // adjust as needed
}

.page-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-bottom: 60px;
  padding-top: 60px;
}

.page-divider .line {
  height: 1px;
  width: 40%;
  background: black;
}

.page-divider .dot {
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
}

