// Background colors
$background-light: rgb(255, 255, 255);
$background-dark: rgb(0, 0, 0);

//Colors
$textcolor-light: rgb(30, 30, 30);
$color-hover: #000000;

$color-links: #000000;
$color-links-hover: #585858;

// Typography
$font-primary: 'Sen', sans-serif;
$font-heading: 'Kulim Park', sans-serif;
$font-xkcd: "Patrick Hand SC", cursive;
