<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include navbar.html %}

  <div class="about_page">
    <div class="about_page_content">
      <!-- Welcome text and image -->
      <div class="about_hero">
        <div class="about-hero_text">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
        <div class="about-hero_image">
          <img src="{{ site.baseurl }}/assets/images/profile_picture.jpg" alt="Profile picture">
        </div>
      </div>
      <!-- Selected Publications  -->
      <div class="about-papers">
      <h2>Selected publications</h2>
      <ul class="paper-list">
       
        <!-- Flare paper-->
        <li class="paper-item">
        <a 
          href="https://doi.org/10.1051/0004-6361/202347416" 
          class="paper-link">

          <span class="paper-year">[1]</span>
          <div class="paper-body">
            <div class="paper-title">
              Polarimetry and astrometry of NIR flares as event horizon scale, dynamical probes for the mass of Sgr A*
            </div>
            <div class="paper-authors">GRAVITY Collaboration</div>
            <div class="paper-venue">  	A&A Volume 677, September 2023, L10 </div>
          </div>
        </a>
        </li>
        
        <!-- Flare paper-->
        <li class="paper-item">
        <a 
          href="https://doi.org/10.1103/PhysRevD.105.084004" 
          class="paper-link">

          <span class="paper-year">[2]</span>
          <div class="paper-body">
            <div class="paper-title">
              Binary superradiance: A numerical study
            </div>
            <div class="paper-authors">Diogo C. Ribeiro, Miguel Zilhão and Vitor Cardoso</div>
            <div class="paper-venue">  	Phys. Rev. D 105, 084004  </div>
          </div>
        </a>
        </li>
        


      </ul>
      </div>

    </div>
  </div>

</body>
</html>